/*
  css-layout
*/

/*
links
*/

a:link {
	font-family: verdana, sans-serif;
	font-size: 90%;
	color: #000000;
}

a:visited {
	font-family: verdana, sans-serif;
	font-size: 90%;
	color: #000000;
}

a:hover {
	color: #000000;
}

/*
headlines
*/

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 16pt;
}

h4 {
	font-size: 14pt;
}

h5 {
	
}


/*
layout
*/

html, body {
	font-family: verdana, sans-serif;
	background-color: #ffffff;
	color: #000000;
	height: 99%;
	padding: 0;
	margin: 0;
}

div#navi {
	width: 230px;
	min-height: 99%;
	height: auto !important;
	height: 99%;
	overflow: hidden !important;
	float: left;
	margin: 0px 0 0 10px;
	padding: 3px;
	background-color: #ffffff;
	text-align: center;
}

div#logo {
	text-align: center;
	margin: 0 0 30px 0;
}

div#content {
	min-height: 99%;
	height: auto !important;
	height: 99%;
	overflow: hidden !important;
	margin: 10px 5px 0 260px;
	padding: 3px;
}

div.quickform div.row {
	margin-bottom: 15px;
}

td.admin div.quickform div.row {
	margin-bottom: 0px;
}

td.admin div.quickform div.row p.label {
	display: none;
}

.even {
	background-color: #ccf;
}

th.admin {
	width:400px;
}

th.name {
	width: 400px;
}

th.date {
	width: 120px;
}

td.date {
	text-align: center;
}

th.type {
	width: 200px;
}

th.location {
	width: 300px;
}

div#sortlinks {
	max-height: 120px;
	overflow: scroll;
	overflow: -moz-scrollbars-vertical;
	margin-bottom: 20px;
}

td.admin div.row {
	float: left;
}

td.admin div.row select {
	font-size:10pt;
}

td.admin div.row input {
	font-size:10pt;
}

td.admin div.admin-links {
	float: left;
}

table#protocol_showdecisions {
	width: 90%;
	border: 1px solid black;
	margin: 10px 0;
}

table#protocol_showdecisions td {
	text-align: left;
}

table#protocol_showdecisions td.date {
	width: 200px;
}

table#protocol_showdecisions td.type {
	width: 300px;
}

form#inventory_give textarea {
	width: 350px;
	height: 150px;
}

form#inventory_take textarea {
	width: 350px;
	height: 150px;
}

img.icon {
	margin: 2px;
}

div.announcement-page {
	position: relative;
	left: 20mm;
	top: 10mm;
	width: 180mm;
	height: 277mm;
}

div.announcement-page-line {
	position: relative;
	left: 25mm;
	border: solid 1px black;
	width: 210mm;
	height: 297mm;
}

div.protocol-page {
	position: relative;
	left: 20mm;
	top: 10mm;
	width: 180mm;
	height: 277mm;
}

div.protocol-page-line {
	position: relative;
	left: 25mm;
	border: solid 1px black;
	width: 210mm;
	height: 297mm;
}

p.usertable {
	border-bottom: 1px solid white;
	background-color: #0000ff;
	width: 225px;
	padding: 0;
	margin: 0;
}

a.usertable {
	text-decoration: none;
	color: white;
	padding: 3px;
}

p.deleted {
	color: red;
	font-weight: bold;
}

p.edit_caption {
	font-weight: bold;
}

a#newLink {
	position: relative;
	left: 20px;
}

p.usersettings {
	border-bottom: 1px solid white;
	background-color: #0000ff;
	width: 200px;
	padding: 0;
	margin: 0;
	position: relative;
	left: 85%;
	text-align: left;
}

a.usersettings {
	text-decoration: none;
	color: white;
	padding: 3px;
}

div.protocolDetailLinks {
	width: 85%;
	border: 1px solid #00f;
	padding: 5px;
	background-color: #e1e1e1;
	margin: 0 0 40px 0;
}

div.protocolDetailLinks a {
	padding: 0 5px 0 7px;
}

div.element textarea#protocol-0 {
	width: 85%;
	height: 400px;
}

div.element input#member0-0 {
	width: 700px;
}

div.element input#member1-0 {
	width: 700px;
}

div.element input#member2-0 {
	width: 700px;
}

/* navi */
div.navi_0 {
	border: 1px solid blue;
	background-color: #0000ff;
	width: 225px;
	text-align: left;
	color: white;
	padding: 2px;
	height: 1.2em;
}

div.navi_0 a {
	color: white;
}

div.navi_1_i {
	border: 1px solid black;
	margin: 0 0 0 15px;
	width: 210px;
	text-align: left;
	padding: 2px;
	height: 1.2em;
}

div.navi_1_a {
	border: 1px solid black;
	margin: 0 0 0 15px;
	width: 210px;
	text-align: left;
	color: #aa0000;
	padding: 2px;
	height: 1.2em;
	font-size: 90%;
}

div.navi_1_a a {
	color: #aa0000;
}

div#login-out {
	margin: 130px auto;
	width: 430px;
	min-height: 250px;
	border: 2px dashed blue;
	padding: 7px;
}

div#confirm {
	margin: 130px auto;
	width: 430px;
	min-height: 250px;
	border: 2px dashed blue;
	padding: 7px;
}

div#confirm div.quickform {
	float: left;
}

span#cancel {
	padding-left: 100px;
	vertical-align: bottom;
}

/*
 * quickform2
 */
/*
 * loginform
 */
form#login div.row {
	font-size: 85%;
	margin-bottom: 10px;
}

span.required {
	color: red;
}

form#login .error input {
	border: 2px inset red;
}

form#login span.error {
	color: red;
}

.quickform textarea {
	width: 450px;
	height: 150px;
}

.quickform #date-0 {
	width: 100px;
}

p.label {
	margin: 0;
	padding: 0;
}

/*
 * confirmation
 */
input#yes-0 {
	width: 80px;
}

/*
 * fonts
 */
div.calendar-details p.details span{
	font-weight: bold;
}

div.protocol-details p.details span{
	font-weight: bold;
}

div.logininfo {
	text-align: right;
	font-size: 10pt;
	height: 3em;
}