/TODO
/test.*
/test_*
/img/Momentum_MatteEntireSet1.zip
/templates/announcements/*/*
/templates/protocols/*
!/templates/protocols/tcme_default.css
/templates/results/*
/templates/schedules/*
/templates/test.*
*.z
/templates/smarty/compile/*tpl.php
/templates/smarty/compile/*string.php
/cnf/config.ini
/lib/classes/class.Test*.php
/cnf/setup.ini
/DEBUG_ALL
/files/*.pdf
/files/*/*.pdf
!/files/tribute/faa72be0554401021cfa6dd60bdd5dac_1430198346.pdf
/files/tribute/thumbs/*.png
/templates/tributes/*
!/templates/tributes/index.php
.idea

# react
mock*

# symfony
/app/config/parameters.yml
/build/
/phpunit.xml.dist
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/public/bundles/
/public/config.php
/public/.htaccess
/public/css
/public/js
/public/img
/public/templates
/public/process.php
/css/zebra_form

# webpack/npm
/node_modules/
