/TODO
/test.*
/img/Momentum_MatteEntireSet1.zip
/templates/announcements/*/*
/templates/protocols/*
!/templates/protocols/index.php
!/templates/protocols/tcme_default.css
/.project
/templates/test.*
*.z
/templates/smarty/compile/*tpl.php
/templates/smarty/compile/*string.php
/cnf/config.ini
