{#
 * This file is part of the JudoIntranet package.
 *
 * (c) Nils Bohrs
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="content"></div>
{% endblock %}

{% block stylesheets %}
    <link href="assets/app.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="assets/app.js"></script>
{% endblock %}