@CHARSET "UTF-8";

.center {
	text-align: center;
}

.center img {
	margin: auto;
}

.noMarginBottom {
	margin-bottom: 0;
}

.notSelectableText {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.bg-error {
	background-color: #f2dede;
}

.border-error {
	border-color: #ebccd1;
}

.text-error {
	color: #a94442;
}

p.noMargin {
	margin: 0;
}

.vh50 {
	height: calc(50vh) !important;
}

.modal-container {
	position: relative;
}

.modal-container.modal-fullscreen {
	height: calc(100vh) !important;
}

.modal-container .modal, .modal-container .modal-backdrop {
	position: absolute;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	text-decoration: underline;
}

#content {
	min-height: calc(100vh) !important;
}

.clickable-blue {
	color: #337ab7;
}

.clickable-blue:hover,
.clickable-blue:focus {
    color: #23527c;
    text-decoration: underline;
}

.clickable-blue:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.empty-row {
    height: 2em;
}

.bsStyle-danger {
    background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
