/*
  css-layout
*/

/*
links
*/

a:link {
	font-family: verdana, sans-serif;
	font-size: 90%;
	color: #000000;
}

a:visited {
	font-family: verdana, sans-serif;
	font-size: 90%;
	color: #000000;
}

a:hover {
	color: #000000;
}

/*
layout
*/

html, body {
	font-family: verdana, sans-serif;
	background-color: #ffffff;
	color: #000000;
	height: 99%;
	padding: 0;
	margin: 0;
}

div#navi {
	width: 230px;
	min-height: 99%;
	height: auto !important;
	height: 99%;
	overflow: hidden !important;
	float: left;
	margin: 0px 0 0 10px;
	padding: 3px;
	background-color: #ffffff;
	text-align: center;
}

div#logo {
	text-align: center;
	margin: 0 0 30px 0;
}

div#content {
	min-height: 99%;
	height: auto !important;
	height: 99%;
	overflow: hidden !important;
	margin: 10px 5px 0 260px;
	padding: 3px;
}

div.quickform div.row {
	margin-bottom: 10px;
}

.even {
	background-color: #ccf;
}

th.admin {
	width:400px;
}

th.name {
	width: 400px;
}

th.date {
	width: 120px;
}

td.date {
	text-align: center;
}

div#sortlinks {
	max-height: 120px;
	overflow: scroll;
	margin-bottom: 20px;
}

td.admin div.row {
	float: left;
}

td.admin div.row select {
	font-size:10pt;
}

td.admin div.row input {
	font-size:10pt;
}

td.admin div.admin-links {
	float: left;
}

/* navi */
div.navi_0 {
	border: 1px solid blue;
	background-color: #0000ff;
	width: 225px;
	text-align: left;
	color: white;
	padding: 2px;
	height: 1.2em;
}

div.navi_0 a {
	color: white;
}

div.navi_1_i {
	border: 1px solid black;
	margin: 0 0 0 15px;
	width: 210px;
	text-align: left;
	padding: 2px;
	height: 1.2em;
}

div.navi_1_a {
	border: 1px solid black;
	margin: 0 0 0 15px;
	width: 210px;
	text-align: left;
	color: #aa0000;
	padding: 2px;
	height: 1.2em;
	font-size: 90%;
}

div.navi_1_a a {
	color: #aa0000;
}

div#login-out {
	margin: 130px auto;
	width: 430px;
	min-height: 250px;
	border: 2px dashed blue;
	padding: 7px;
}

div#confirm {
	margin: 130px auto;
	width: 430px;
	min-height: 250px;
	border: 2px dashed blue;
	padding: 7px;
}

div#confirm div.quickform {
	float: left;
}

div#cancel {
	padding-left: 100px;
}

/*
 * quickform2
 */
/*
 * loginform
 */
form#login div.row {
	font-size: 85%;
	margin-bottom: 10px;
}

span.required {
	color: red;
}

form#login .error input {
	border: 2px inset red;
}

form#login span.error {
	color: red;
}

/*
 * confirmation
 */
input#yes-0 {
	width: 80px;
}

/*
 * fonts
 */
div.calendar-details p.details span{
	font-weight: bold;
}

p.logininfo {
	text-align: right;
	font-size: 10pt;
}